/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* padding-top: 90px; */
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/* LAYOUT */
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* UTILITIES */
.vertical-allign {
  vertical-align: middle;
}

.text-grey {
  color: grey;
}
.margin-dx {
  margin-right: 15px;
}
.p-tb {
  padding: 20px 0;
}
.p-b {
  padding-bottom: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MAIN WINDOW */
#main-window {
  flex-grow: 1;
  display: flex;
}


/* SIDEBAR */
#sidebar {
  flex-basis: 200px; /* larghezza sidebar */
  display: flex;
  flex-direction: column;
}

.sidebar-top {
  flex-grow: 1;
  background: black;
  display: flex;
  flex-direction: column;
}

.playlist {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#sidebar .sidebar-top .logo {
  padding: 13px;
}

#sidebar .sidebar-top .logo img {
  width: 150px;
}

#sidebar .sidebar-top img {
  width: 25px;
}

#sidebar .sidebar-top a {
  text-decoration: none;
  color: grey;
  font-size: 13px;
  padding: 8px 20px;
}

#sidebar .sidebar-top h4 {
  padding: 30px 20px 10px;
}

#sidebar .sidebar-top .home,
#sidebar .sidebar-top .search,
#sidebar .sidebar-top .library {
  padding-bottom: 10px;
  padding-left: 5px;
  border-left: 3px solid transparent;
}

#sidebar .sidebar-top .home:hover,
#sidebar .sidebar-top .search:hover,
#sidebar .sidebar-top .library:hover {
  border-color: rgb(209, 226, 140);
}

#sidebar .sidebar-top i {
  display: inline-block;
  margin-right: 3px;
  font-size: 30px;
  vertical-align: middle;
}

.sidebar-bottom {
  padding: 30px 0;
  background: black;
  border-top: 2px solid grey;
}

#sidebar .sidebar-bottom a {
  padding-left: 10px;

  text-decoration: none;
  color: white;
}

#sidebar .sidebar-bottom i {
  display: inline-block;
  background-color: grey;
  font-size: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 20px;
}

/* CONTENT */
#content {
  position: relative;
  flex-grow: 1;
  background: rgb(20, 25, 32);
}

.content-top-bar {
  padding: 28px 28px 0 0;
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: rgba(0, 0,0, .3);
  z-index: 1;
}

#content .content-top-bar a {
  text-decoration: none;
  color: grey;
  padding: 5px 20px;
  font-size: 13px;
}

#content .content-top-bar .btn {
  border: 2px solid grey;
  border-radius: 15px;
}

#content .content-top-bar .btn:hover {
  background: white;
}

#content .scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  /* 90px = height di content-top-bar */
  padding: 90px 15px 30px;
}

.content-menu {
  background: rgb(20, 25, 32);
}

.content-menu li {
  position: relative;
}

#content .content-menu .listainline {
 display: flex;
 justify-content: center;
 list-style: none;
}

#content .content-menu li a::after {
  content: '';
  width: 30px;
  height: 2px;
  background: rgb(209, 226, 140);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

#content .content-menu li a:hover::after {
  opacity: 1;
}

#content .content-menu .listainline li {
  padding: 5px 20px;
}

#content .content-menu .listainline a {
  text-decoration: none;
  color: grey;
  font-size: 14px;
}

.content-category {
  min-height: 200px; /* Debug */
}

.cont-img {
  display: flex;
}

.content-category h5 {
  color: white;
  padding-top: 10px;
}

.content-category p {
  font-size: 12px;
  color: grey;
}

.popular-playlist img {
  border-radius: 50%;
}


/* BOTTOM PLAYER */
#player {
  height: 80px; /*debug*/
  background: #333;
}
